<section class="hero-section">


  <!-- Header -->
  <!-- Header -->
  <app-header></app-header>

  <!-- Main Content -->
  <div class=" max-w-6xl container mt-40 md:ml-20 hero-content px-6 md:px-12">
    <!-- Left Column: T1ext -->
    <div>
      <h1 class="animated-text">
        <span class="word-wrapper inline-block whitespace-nowrap mr-3" *ngFor="let word of titleWords; let wIndex = index">
           <span class="char-span inline-block" *ngFor="let char of word.chars; let cIndex = index"
                 [style.animation-delay]="(wIndex * 0.2 + cIndex * 0.05) + 's'">
             {{char}}
           </span>
        </span>
      </h1>
      
      <p class="hero-subtitle">
        Nunca te pierdas al hacer crecer tu marca.
      </p>

      <button class="btn-primary">
        Comencemos
      </button>
    </div>


  </div>


</section>

