.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(249deg, #080011 17.34%, #062280 99.48%);
}

.sidebar {
  width: 280px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
